@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&family=Permanent+Marker&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: 'Nunito', sans-serif;
  transition: 0.3s linear;
}

:root{

  --base:#9BC4F9;

}

.container{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  overflow: hidden;
  height: 100vh;
  background: #10A37F;
}

.container .bot-card{
  border-radius: .4rem;
  padding: .7rem;
  display: flex;
  flex-direction: column;
  height: 80%;
  width: 30em;
  max-width: 100%;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background: #343541;
}
.bot-card .top{
  display: flex;
  align-items: center;
  gap: 20px;
  color: #fff;
  flex-direction: column;
  justify-content: space-around;
  border-bottom: 2px solid grey;
  position: relative;
}
/* 

.top form{
  width: 100%;
  display: flex;
  gap: 10px;

}

.top form input{
  width: 100%;
  border: #444654 2px solid ;
  background: transparent;
  padding: 10px;
  border-radius: 5px;
  outline: none;
  color: #fff;

}

.top form input:focus{
  border: #10A37F 2px solid;
}

.top form button{
  color: #fff;
  background: #10A37F;
  border: none;
  border-radius: 6px;
  width: 11em;
  cursor: pointer;
} */

.message-body{
  width: 100%;
  height: 100%;
  padding: 10px;
  margin: 4px;
  gap: 15px;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}

.message-body::-webkit-scrollbar{
  display: none;
}

.message-body .user-msg{
  color: white;
  display: flex;
  justify-content: flex-end;
  animation: right-side;
  animation-duration: 0.3s linear;
}

@keyframes right-side{
  from{
    transform: translateX(100%);
  }
  to{
    transform: translateX(0%);
  }
}

.message-body .user-msg p{
  background: #10A37F;
  border-radius: 10px;
  padding: 10px;

  
}
.message-body .bot-msg{
  color: black;
  display: flex;
  justify-content: flex-start;
  gap: 5px;
}
.message-body .bot-msg p{
  background: #444654;
  border-radius: 10px;
  padding: 10px;
  color: #fff;
}
.message-body .bot-msg .bot-img {
  border: 2px solid #10A37F;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
}
.message-body .bot-msg .bot-img img{
  width: 30px;
  height: 30px;
}


.bottom{
  display: flex;
  align-items: center;
  justify-content: center;
}


.bottom .voice-btn{
  background: #10A37F;
  color: #ffff;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 10px;
}
.bottom .voice-btn i{
  font-size: 2rem;
}

.bottom .voice-btn.active{
  background: red;
}

.message-section{
  position: absolute;
  top: 10px;
  background: #3db99a;
  padding: 10px;
  border-radius: 6px;
  color: #fff;
  animation: anim 0.4s linear;
}

.message-body .bot-msg .m-img{
  width: 200px;
  border-radius: 5px;

}

.notice{
  background: rgba(0, 0, 0, 0.24);
  position: absolute;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 10px;
  overflow: hidden;
}


.hide{
  animation: hidd;
  animation-duration: 0.2s linear;
}

@keyframes hidd{
  from{
    transform: translateX(0);
  }
  to{
    transform: translateX(-100%);  
  }
}
.notice{
  display: flex;
  align-items: flex-start;
}
.notice .card{
  background: #343541;
  width: 30rem;
  max-width: 100%;
  height: 90%;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding-bottom: 15px;
}

.notice .card .img{
  width: 250px;
}
.notice .card .img img{
  width: 100%;
  border-radius: 7px;

}

.notice .card .article{
  color: #fff;
  padding: 1.7rem;
  overflow-y: scroll;
  height: 40%;
}

.notice .card .pich i{
  font-size: 1.7rem;
}
.notice .card .pich{
  background: #444654;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1;
  border-radius: 7px;
  padding: 9px;
  cursor: pointer;
}

::-webkit-scrollbar{
  display: none;
}

.socials{
  background: #10A37F;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  width: 90%;
  gap: 15px;
  border-radius: 15px;
}

.socials a{
  color: #fff;
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}








.profile{
  width: 150px;
  height: 150px;
  background: #fff;
  border-radius: 30%;
  display: flex;
  overflow: hidden;
  border: 2px solid #10A37F;
  transform: translateY(-20px);
  cursor: pointer;
}


@keyframes anim{
  from{
    transform: scale(0.0);
  }
  to{
    transform: scale(1.0);
  }
}